.projects-post-item {
  width: 25%;
}

.projects-post-title a {
  text-decoration: none;
  color: black;
}

.projects-post-img-container {
  position: absolute;
  word-wrap: break-word;
}

.projects-post-img {
  position: relative;
  z-index: 99;
  width: 100%;
  visibility: hidden;
}

.projects-post-item:hover .projects-post-img {
  visibility: visible;
}

.projects-post-item:hover .projects-post-img-container p {
  visibility: hidden;
}

@media only screen and (max-width: 767px) {

.projects-post-title {
    width: 85%;
    }

.projects-post-desc {
  width: 85%;
  font-style: italic;
  }

}
