.projects-post-item {
  width: 25%;
}

.projects-post-title a {
  text-decoration: none;
  color: black;
}

.projects-post-img-container {
  position: absolute;
  word-wrap: break-word;
}

.projects-post-img-container p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  letter-spacing: 0;
}

.projects-post-img {
  position: relative;
  z-index: 99;
  width: 100%;
  visibility: hidden;
}

.projects-post-item:hover .projects-post-img {
  visibility: visible;
}

.projects-post-item:hover .projects-post-img-container p {
  visibility: hidden;
}

@media only screen and (max-width: 767px) {
  .projects-post-item {
    width: 85%;
    padding-bottom: 3%;
    padding-top: 2%;
  }

  .projects-post-img-container {
    visibility: hidden;
  }
}
