.projects-post-title a {
text-decoration: none;
color: black;
}

.projects-post-desc {
  width: 28%;
}

img {
  width: 50%;
}


@media only screen and (max-width: 767px) {

.projects-post-title {
    width: 85%;

    }

.projects-post-desc {
  width: 85%;
  font-style: italic;
  }

}
